
     <header id="headimg">

    <nav class="navbar navbar-expand-sm  navbar-dark navco">
        <div class="container">
            <a href="/" class="navbar-brand blink">Cafe DrinkO</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center " id="navbarid">    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-white">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link text-white dropdown-toggle" data-toggle="dropdown"
                        >Blog</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Types</li> 
                            
                            <li><a href="" class="dropdown-item">Cold</a></li>
                            <li><a href="" class="dropdown-item">Hot</a></li>
                        </ul>

                    </li>

                     <li class="nav-item">
                        <a href="/contuct" class="nav-link text-white">Contuct</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link text-white">Registration</a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>

</header>
